<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="commonHeader(userInfo)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">伯乐君学生管理平台</a>
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="btn-group" role="group" style="position: absolute !important;right: 81px;">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" style="background-color: #007bff !important;border: none;" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fas fa-user-tie"></i>
                <span style="padding-right: 32px;" th:text="${userInfo.username}"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>退出</a>
            </div>
        </div>
    </nav>
</div>
</html>