<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolejun.manager.bolejunmanager.dao.LessonInfoDao">

    <resultMap id="LessonInfo" type="com.bolejun.manager.bolejunmanager.entity.LessonInfo">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="lesson_code" property="lessonCode" jdbcType="VARCHAR"/>
        <result column="lesson_name" property="lessonName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_by_id" property="createById" jdbcType="NUMERIC"/>
        <result column="update_by_id" property="updateById" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="table_name">
        t_lesson
    </sql>

    <sql id="insert_column">
        lesson_code,
        lesson_name,
        create_time,
        update_time,
        status,
        create_by_id,
        update_by_id
    </sql>

    <sql id="insert_field">
        #{lessonCode},
        #{lessonName},
        #{createTime},
        #{updateTime},
        #{status},
        #{createById},
        #{updateById}
    </sql>

    <sql id="whereParam">
        <where>
            <if test="param != null">
                <if test="param.lessonCode != null and param.lessonCode != ''">
                    and lesson_code like CONCAT('%',#{param.lessonCode},'%')
                </if>
                <if test="param.lessonName != null and param.lessonName != ''">
                    and lesson_name  like CONCAT('%',#{param.lessonName},'%')
                </if>
                <if test="param.status != null and param.status != ''">
                    and status  = #{param.status}
                </if>
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.bolejun.manager.bolejunmanager.entity.LessonInfo"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="table_name"/>
        (
          <include refid="insert_column"/>
        )
        VALUES (
        <include refid="insert_field"/>
        )
    </insert>

    <select id="selectByParam" parameterType="com.bolejun.manager.bolejunmanager.entity.ClassInfo"
            resultMap="LessonInfo">
        select
        *
        FROM
        <include refid="table_name"/>
        <include refid="whereParam"/>
    </select>

    <select id="countByParam" parameterType="com.bolejun.manager.bolejunmanager.entity.ClassInfo"
            resultType="java.lang.Long">
        select
        count(*)
        FROM
        <include refid="table_name"/>
        <include refid="whereParam"/>
    </select>

    <update id="update" parameterType="com.bolejun.manager.bolejunmanager.entity.LessonInfo">
        UPDATE
        <include refid="table_name"/>
        <set>
            <if test="lessonCode != null and lessonCode != ''">
                lesson_code = #{lessonCode},
            </if>
            <if test="lessonName != null and lessonName != ''">
                lesson_name = #{lessonName},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            update_time = now()
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Long"
            resultType="com.bolejun.manager.bolejunmanager.entity.LessonInfo">
        select
        *
        from
        <include refid="table_name"/>
        where
        id = #{id}
    </select>

    <select id="selectByStudentId" resultType="com.bolejun.manager.bolejunmanager.entity.LessonInfo">
        SELECT  lessson.* FROM <include refid="table_name"/> as lessson RIGHT JOIN t_student_lesson as stuLensson
        on  lessson.id = stuLensson.lesson_id AND stuLensson.student_id = #{id}
    </select>

</mapper>