<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolejun.manager.bolejunmanager.dao.StudentClassInfoDao">

    <resultMap id="StudentClassInfo" type="com.bolejun.manager.bolejunmanager.entity.StudentClassInfo">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="class_id" property="classId" jdbcType="NUMERIC"/>
        <result column="student_id" property="studentId" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="table_name">
        t_student_class
    </sql>

    <sql id="insert_field">
        class_id,
        student_id
    </sql>

    <insert id="insert" parameterType="com.bolejun.manager.bolejunmanager.entity.StudentClassInfo"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="table_name"/>
        (
        <include refid="insert_field"/>
        )
        VALUES (
        #{classId},
        #{studentId}
        )
    </insert>

    <select id="findByStudentId" resultType="com.bolejun.manager.bolejunmanager.entity.StudentClassInfo">
        SELECT * from
        <include refid="table_name"/>
        where student_id = #{id}
    </select>

    <update id="update" parameterType="com.bolejun.manager.bolejunmanager.entity.StudentClassInfo">
        UPDATE
        <include refid="table_name"/>
        SET
        class_id = #{classId},
        student_id = #{studentId}
        where
        id = #{id}
    </update>

</mapper>